[Desktop Entry]
Type=Application
Name=Githelper
Comment=Easy self-hosted Git repository manager
Exec=githelper-gui
Icon=githelper
Terminal=false
Categories=Development;VersionControl;
StartupNotify=true
