[Desktop Entry]
Type=Application
Name=Githelper
Comment=Easy self-hosted Git repository manager
Exec=githelper-gui
Icon=githelper-gui
Terminal=false
Categories=Development;
StartupNotify=true
