[Desktop Entry]
Type=Application
Name=Githelper CLI
Comment=Manage Git bare repositories locally or over SSH
Exec=githelper
Icon=mintinstall-python-symbolic
Terminal=true
Categories=Development;
StartupNotify=false
