[Desktop Entry]
Type=Application
Name=Githelper
Comment=Easy self-hosted Git repository manager
Exec=githelper-gui
Icon=mintinstall-python-symbolic
Terminal=false
Categories=Development;
StartupNotify=true
